{:ring-web-common #include "ring-web-common.edn"

 :server/http
 {:port #long #or [#env PORT 4242]
  :host #or [#env HTTP_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}

 :handler/ring
 {:swagger-ui {:path "/api-docs"
               :config {:persistAuthorization true
                        :urls [{:name "openapi" :url "/api/openapi.json"}]
                        :urls.primaryName "openapi"}}}

 :reitit.routes.api/math {}}
