{:deps true

 :dev-http {4244 "fiddle/resources/public"}

 :builds
 {:app
  {:target :browser
   :output-dir "fiddle/resources/public/js"
   :devtools {:watch-dir "fiddle/resources/public"}
   :modules {:main {:entries [user]}}
   :compiler-options {:warnings {:redef false}}}}}
