{:ring-web-common #include "ring-web-common.edn"

 :server/http
 {:port #long #or [#env PORT 4242]
  :host #or [#env HTTP_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}

 :handler/ring
 {:site-defaults-config {:cookies   true
                         :session   {:flash true
                                     :cookie-name "ring-session"
                                     :cookie-attrs {:max-age     86400
                                                    :http-only   true
                                                    :same-site   :strict}}}}

 :reitit.routes/api
 {:built-in-routes {:openapi {:info {:title "openAPI doc" :version "0.0.1"}
                              ;; basic authentication for API doc
                              :middleware [#middleware/basic-authentication {:user->pass {"user" "pass"}}]}
                    :health {}}}

 :reitit.routes.api/hello {}}
