{:ring-web-common #include "ring-web-common.edn"

 :handler/ring
 {:middleware #app/middleware {}
  :swagger-ui {:path "/api-docs"
               :config {:persistAuthorization true
                        :urls [{:name "openapi" :url "/api/openapi.json"}]
                        :urls.primaryName "openapi"}}}

 :sente/chsk-server {:adapter :http-kit
                     :server-option #app/sente-server-option {}
                     :chsk-router-event-msg-handler #app/senete-msg-handler {}}
 :sente/chsk-route {:chsk-server #ig/ref :sente/chsk-server}
 :sente/chsk-message-handler {:chsk-server #ig/ref :sente/chsk-server}

 :quartz/scheduler {}

 :db.sql/hikari-ds
 {:dbtype "mysql"
  :jdbcUrl  "jdbc:mysql://localhost:3306/quartz?allowMultiQueries=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8"
  :username "quartz"
  :password "quartz"}

 :reitit.routes.api/quartz
 {:db #ig/ref :db.sql/hikari-ds
  :base-path ""}

 :server/http-kit
 {:port #long #or [#env PORT 4242]
  :host #or [#env HTTP_HOST]
  :handler #ig/ref :handler/ring}}
