{:paths ["src" "resources"]
 :deps {;; local development, change to published version
        org.lotuc/ring-web {:local/root "../../ring-web"}
        org.lotuc/quartz-util {:local/root "../../quartz-util"}
        com.taoensso/encore {:mvn/version "3.99.0"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        io.github.kit-clj/kit-http-kit {:mvn/version "1.0.3"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.4"}

        com.mysql/mysql-connector-j {:mvn/version "8.3.0"}
        com.zaxxer/HikariCP {:mvn/version "5.1.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1126"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.925"}
        com.h2database/h2 {:mvn/version "2.2.224"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.0"}}
          :ns-default build}}}
